include LICENSE
include AUTHORS.rst
include README.rst
include CONTRIBUTING.rst
include tox.ini
include .coveragerc
recursive-include formtools/locale *.po *.mo
recursive-include formtools/templates *.html
recursive-include docs *
recursive-include tests *
