{% load i18n %}
<form id="wizard_form" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_p }}
    {% endfor %}
{% else %}
    {{ wizard.form.as_p }}
{% endif %}

{% if wizard.steps.prev %}
<button id="first_button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button id="prev_button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" name="Submit" value="{% trans "submit" %}" />
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
$(document).ready(function() {
    $('#first_button').click(function() {
        $('<input/>').attr('type', 'hidden')
          .attr('name', "wizard_goto_step")
          .attr('value', $(this).val())
          .appendTo('#wizard_form');
        $("#wizard_form")[0].submit();
    });
    $('#prev_button').click(function() {
        $('<input/>').attr('type', 'hidden')
          .attr('name', "wizard_goto_step")
          .attr('value', $(this).val())
          .appendTo('#wizard_form');
        $("#wizard_form")[0].submit();
    });
});
</script>
